
@model PresentacionWeb.Models.ModelIngreso
@{
    ViewBag.Title = "Actividades Socio";
}

@using

@*<h2>Actividades Socio</h2>


<div class="alert alert-danger" role="alert">
    @ViewBag.Error
    @ViewBag.mensaje

</div>


<form action="ActividadesSocio" method="post">
    <div class="form-group">
        <label id="cedula"> Cedula</label>
        <input type="text" placeholder="Ingrese una cedula" id="cedula" name="cedula" />
    </div>

    <div class="form-group">
        <label id="nombre"> Nombre actividad</label>
        <input type="text" placeholder="Ingrese un nombre" id="nombre" name="nombre" />
    </div>

    <button class="btn btn-primary" type="submit">Buscar</button>
</form>*@